@import './mixins/medias';

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,700,700i');


    .app {
        width: 414px;
        height: 736px;
        background: #FBFCFC;
        background-size: 100%;

        &__eat4 {
            width: 414px;
            height: 182px;
            background-color: rgb(105, 135, 114, 0.4);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            border-bottom-left-radius: 110px 50px;
            border-bottom-right-radius: 110px 50px;
            margin-top: -13px;

            &-felp {
                font-weight: lighter;
                font-size: 20px;
                text-align: center;
                padding: 10px;
            }

            &-profil {
                width: 80px;
                height: 80px;
                margin-left: 320px;
                margin-top: -50px;
            }

            &-date {
                font-size: 18px;
                font-weight: bold;
                margin-left: 40px;
                margin-top: -10px;
                text-decoration: underline;
                text-shadow: 0.5px 0.5px 0.5px black;
            }

            &-commande {
                font-size: 18px;
                text-align: center;
                font-weight: bold;
            }
        }

        &__containerE4 {
            background-color: #e8e8e8;
            border-radius: 20px;
            margin-top: 60px;
            width: 414px;
            height: 400px;
            position: fixed;

            &-name {
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                margin-top: 35px;
            }

            &-wish {
                width: 80%;
                margin-left: 40px;
                font-size: 16px;
                margin-top: 25px;
                line-height: 22px;
            }

            &-note {
                margin-left: 40px;
                margin-top: 35px;
            }

            &-avatar {
                width: 80px;
                height: 80px;
                margin-left: 30px;
            }

            &-eat {
                margin-top: -70px;
                margin-left: 115px;
            }

            &-star {
                margin-left: 115px;
                margin-top: -30px;
                width: 116px;
                height: 20px;
            }

        }

        &__containerB3 {
            width: 86px;
            height: 35px;
            border-radius: 22px;
            background-color: #fbfcfc;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            margin-left: 260px;
            margin-top: 30px;

            &-click {
                color: #145a32;
                margin-top: 6px;
                margin-left: 14px;
                font-size: 16px;
            }


        }
    }
}